<div class="container-fluid">
  <div class="col-md-6 offset-md-3">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <h3>Change password</h3>
      <br />
      <div class="form-group">
        <label>Old password</label>
        <input
          [class.is-invalid]="oldPassword.invalid && oldPassword.touched"
          formControlName="oldPassword"
          type="password"
          class="form-control"
        />
        <div *ngIf="oldPassword.invalid && oldPassword.touched">
          <small *ngIf="oldPassword.errors?.required" class="text-danger"
            >Old password is required</small
          >
        </div>
      </div>

      <div class="form-group">
        <label>New password</label>
        <input
          [class.is-invalid]="newPassword.invalid && newPassword.touched"
          formControlName="newPassword"
          type="password"
          class="form-control"
        />
        <div *ngIf="newPassword.invalid && newPassword.touched">
          <small *ngIf="newPassword.errors?.required" class="text-danger"
            >New password is required</small
          >
        </div>
      </div>
      <div class="text-center">
        <button
          class="btn btn-primary mr-1"
          [disabled]="!changePasswordForm.valid"
          type="submit"
        >
          Save
        </button>
      </div>
    </form>
    <div class="text-danger">{{ errorMessage }}</div>
  </div>
</div>
