<div class="container-fluid">
  <div class="col-md-6 offset-md-3" *ngIf="!successMessage">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div style="text-align: center;">
        <h3><i class="fa fa-lock fa-4x"></i></h3>
        <h2 class="text-center">Forgot Password?</h2>
        <div class="form-group">
          <input
            [class.is-invalid]="email.invalid && email.touched"
            formControlName="email"
            type="text"
            class="form-control"
            placeholder="enter email adress"
          />
          <div *ngIf="email.invalid && email.touched">
            <small *ngIf="email.errors?.required" class="text-danger"
              >email is required</small
            >
            <small *ngIf="email.errors?.email" class="text-danger">
              email must be a valid email address
            </small>
          </div>
        </div>
        <button
          class="btn btn-lg btn-primary btn-block"
          [disabled]="!forgotPasswordForm.valid"
          type="submit"
          placeholder="email address"
        >
          Reset Password
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="successMessage">
    <h3>Password Reset Process</h3>
    <p>
      We have sent an email with a link to your email address. In order to
      complete the reset password process, please click the link.
    </p>
  </div>
  <div class="text-danger">{{ errorMessage }}</div>
</div>
