<div class="container-fluid">
  <div class="col-md-6 offset-md-3" *ngIf="!successMessage">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div style="text-align: center;">
        <h3><i class="fa fa-lock fa-4x"></i></h3>
        <h2 class="text-center">Reset Password</h2>
        <div class="form-group">
          <input
            [class.is-invalid]="password.invalid && password.touched"
            formControlName="password"
            type="password"
            class="form-control"
            placeholder="enter new password"
          />
          <div *ngIf="password.invalid && password.touched">
            <small *ngIf="password.errors?.required" class="text-danger"
              >password is required</small
            >
          </div>
        </div>
        <button
          class="btn btn-lg btn-primary btn-block"
          [disabled]="!resetPasswordForm.valid"
          type="submit"
          placeholder="password"
        >
          Save Password
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="successMessage">
    <h3>Reset Password Successful</h3>
    <p>
      Your password has been reset. You can signin now click here
      <a class="link" [routerLink]="['../signin']">Sign In</a>
    </p>
  </div>
  <div class="text-danger">{{ errorMessage }}</div>
</div>
